.front-content-container{
    @include flex(column nowrap, center);
    padding: 20% auto 0;
    .front-modal {
        color:white;
        background-color: #313131;
        position:relative;
        width: 480px;
        margin: 0 auto;
        margin-top: 100px;
        border-radius: 10px;
        box-shadow: 0 0 5px rgb(31, 31, 31);
        .top-row{
            background-color: #444;
            border-bottom: 2px solid black;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            @include flex(row nowrap, space-between);
            h3{
                font-size: 30px;
                padding: 10px 20px;
            } 
            button{
                font-family:Arial, Helvetica, sans-serif ;
                color:white;
                background-color: rgba(0,0,0,0.0);
                border-top-right-radius: 10px;
                height:51px;
                width:51px;
                border: none;
                padding: 10px;
                font-size: 20px;
            }
            
            button:hover{
                span{
                    transform: scale(1.05);
                    translate: transform 0.2s;
                }
                cursor: pointer;
                background: rgb(189, 45, 45);
            }
            
        }
        form{
            padding: 20px;
            padding-bottom: 20px;
            @include flex(column nowrap, space-evenly);

            label{
                margin:0 auto;
                font-size: 18px;
                padding-bottom: 25px;
            }
            input, textarea{
                font-family: Arial, Helvetica, sans-serif;
                display:block;
                background: rgb(224, 224, 224);
                border-radius: 5px;
                border: none;
                margin-bottom: 2px;
            }
            .api-error{
                color: $error-color;
                text-align:center;
                padding: 4px;
                border-radius: 4px;
                margin-bottom: 10px;
            }
            button{
                
                width: 100px;
                margin:0 auto;
            }
            .form-error-e{
                color:$error-color;
                background: #444;
                font-size: $error-font-size;
                width: 150px;
                padding: 4px;
                border-radius: 4px;
                box-shadow: 0 0 5px rgb(39, 39, 39);
                margin-right: 10px;
            }
            .form-error-p{
                color:$error-color;
                background: #444;
                font-size: $error-font-size;
                width: 150px;
                padding: 4px;
                border-radius: 4px;
                box-shadow: 0 0 5px rgb(39, 39, 39);
                margin-right: 10px;
            }
            .form-button{
                color: black;
                font-size: 12px;
                background: rgb(212, 212, 212);
                padding: 4px 7px;
                border: 1px solid black;
                border-radius: 5px;
            }
            .form-button:hover{
                cursor:pointer;
                color:$button-hover
            }
            .form-button:disabled{
                color: rgb(153, 153, 153)
            }
            .form-button:disabled:hover{
                cursor: inherit;
            }
        }
    }
}