body{
    color: white;
    background: #242424;
    font-family: sans-serif;
    text-shadow: 1px 1px rgb(39, 39, 39);
    box-sizing: border-box;
}

.tabs{
    position: fixed;
    top:70px;
    left:0;
    width: 235px;
    margin-top: 5px;
    .links-container{
        height: 250px;
        @include flex(column nowrap, space-evenly);
        
    }
    .tabs-link{
        color: $text-color;
        background: #444444;
        text-decoration: none;
        border: 2px solid black;
        border-radius:18px;
        padding: 20px;
        margin:0 0 0 10px;
    }
    .link-container-inner{
        text-align: center;
        font-size: 25px;
        translate: transform 0.2s;
    }
    .tabs-link:hover{
        color:$button-hover;
    }
    .current{
        transform: scale(1.05);
    }
}
.content-container{
    @include flex(column nowrap, center);
    padding: 20px;
    margin-top: 70px;
    margin-left: 235px;
    #create-task-button{
        margin-left:20px;
        }
    }

