.task{
    padding:20px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    box-shadow:0 0 20px rgb(39, 39, 39) ;
}
.sub-task{
    padding: 15px;
    border: 1px solid black;
    border-radius: 20px;
    margin: 20px;
    box-shadow:0 0 3px rgb(61, 61, 61) ;
}

.high-priority{
    background: rgb(189, 45, 45);
}

.mid-priority{
    background: rgb(71, 168, 71);
}

.low-priority{
    background: rgb(62, 145, 197);
}

.completed-priority{
    background: rgb(126, 126, 126);
}