@media(max-width: 950px){


.top-nav{
    background: #444444;
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid black;
    h1{
        font-size: 30px;
    }
    button{
        color:$text-color;
        font-size: 18px;
        background: none;
        border: none;
        margin-right: 30px;
    }
    button:hover{
        cursor: pointer;
        color: $button-hover;
    }
    .links-container{
        @include flex(row nowrap, space-between);
        align-items: center;
        width: 300px;
        
    }
}
}
@media(max-width: 600px){


    .top-nav{
        background: #444444;
        position:fixed;
        top:0;
        left:0;
        right:0;
        z-index: 1;
        display:flex;
        flex-flow:column nowrap;
        justify-content: space-between;
        padding: 10px 20px 10px 20px;
        padding-bottom: 0;
        border: none;
        &.hidden{
            padding-bottom: 10px;
            .wrapper{
                padding-bottom: 0;
            }
        }
        .wrapper{
            width: 100%;
            @include flex(row, space-between);
            padding-bottom: 10px;
        }
        h1{
            font-size: 30px;
        }
        .first-in-drop{
            border-top: 1px solid black;
        }
        button{
            position: relative;

            width: 100vw;
            color:$text-color;
            font-size: 18px;
            background: rgb(46, 46, 46);
            padding: 10px;
            border-bottom: 1px solid black;
            margin: 0;
        }
        button:hover{
            cursor: pointer;
            color: $button-hover;
        }
        .links-container{
            @include flex(column nowrap, inline);
            align-items: center;
            width: auto;
        }
        .icon{
            float:right;
            display: block;
            text-decoration: none;
            color: white;
            font-size: 25px;
        }
        .hidden{
            display:none;
        }
    }
    }