/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.top-nav {
  background: #444444;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid black;
}
.top-nav h1 {
  font-size: 30px;
}
.top-nav button {
  color: white;
  font-size: 18px;
  background: none;
  border: none;
}
.top-nav button:hover {
  cursor: pointer;
  color: lightslategrey;
}

body {
  color: white;
  background: #444444;
}

.tabs {
  position: fixed;
  top: 70px;
  left: 0;
  width: 235px;
  margin-top: 5px;
}
.tabs .links-container {
  height: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.tabs .tabs-link {
  color: white;
  text-decoration: none;
  font-size: 25px;
  border: 2px solid black;
  border-radius: 18px;
  padding: 20px;
  margin: 0 0 0 10px;
}
.tabs .link-container-inner {
  text-align: center;
  font-size: 25px;
  translate: transform 0.2s;
}
.tabs .tabs-link:hover {
  color: lightslategrey;
}
.tabs .current {
  transform: scale(1.05);
}

.content-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 20px;
  margin-top: 70px;
  margin-left: 235px;
}

.task {
  text-shadow: 1px 1px #272727;
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 0 20px #272727;
}

.sub-task {
  padding: 15px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 0 5px #3d3d3d;
}

.high-priority {
  background: #bd2d2d;
}

.mid-priority {
  background: #47a847;
}

.low-priority {
  background: #3e91c5;
}

.completed-priority {
  background: #7e7e7e;
}

.task-button {
  color: white;
  font-size: 12px;
  background: none;
  padding: 0;
  border: none;
  border-radius: 0;
  text-shadow: 1px 1px #272727;
}

.task-button:hover {
  cursor: pointer;
  color: lightslategrey;
}

.status-button {
  font-size: 0;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 1px 1px #272727;
}

div.complete .line-through {
  cursor: pointer;
  position: absolute;
  width: 25px;
  border-bottom: 1px solid black;
  transform: translateY(-8px) translateX(-5px) rotate(45deg);
  box-shadow: 1px 1px #272727;
}

.task-data {
  display: flex;
  flex-flow: column nowrap;
  justify-content: inline;
  padding: 0 10px 10px 10px;
}
.task-data .top-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.task-data .top-row .main-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.task-data .top-row .main-info h3 {
  font-size: 30px;
  padding: 0px 0 0px 10px;
}
.task-data .top-row .main-info .discarded-h3 {
  padding-left: 0;
}
.task-data .top-row .main-info h2 {
  font-size: 25px;
  padding: 0px 0 0px 10px;
}
.task-data .top-row .time-frames {
  font-size: 18px;
}
.task-data .description {
  font-size: 20px;
  padding: 15px 0;
}
.task-data .bottom-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.task-data .bottom-row .secondary-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 100px;
}

.hide-completed-button {
  margin-left: 10px;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  color: white;
  position: fixed;
  z-index: 500;
  background-color: #363636;
  width: 64%;
  height: 50%;
  left: 18%;
  top: 15%;
  transition: all 0.3s ease-out;
}
.modal .top-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.modal .top-row h3 {
  font-size: 30px;
}
.modal .top-row button {
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  padding: 10px;
  font-size: 20px;
}
.modal .top-row button:hover {
  cursor: pointer;
  background: #bd2d2d;
}
.modal .top-row button:hover span {
  transform: scale(1.05);
  translate: transform 0.2s;
}

/*# sourceMappingURL=App.css.map */
