/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}

.top-nav {
  background: #444444;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 2px solid black;
}
.top-nav h1 {
  font-size: 30px;
}
.top-nav button {
  color: white;
  font-size: 18px;
  background: none;
  border: none;
}
.top-nav button:hover {
  cursor: pointer;
  color: lightslategrey;
}
.top-nav .links-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  width: 300px;
}
.top-nav .icon {
  display: none;
}

body {
  color: white;
  background: #242424;
  font-family: sans-serif;
  text-shadow: 1px 1px #272727;
  box-sizing: border-box;
}

.tabs {
  position: fixed;
  top: 70px;
  left: 0;
  width: 235px;
  margin-top: 5px;
}
.tabs .links-container {
  height: 250px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.tabs .tabs-link {
  color: white;
  background: #444444;
  text-decoration: none;
  border: 2px solid black;
  border-radius: 18px;
  padding: 20px;
  margin: 0 0 0 10px;
}
.tabs .link-container-inner {
  text-align: center;
  font-size: 25px;
  translate: transform 0.2s;
}
.tabs .tabs-link:hover {
  color: lightslategrey;
}
.tabs .current {
  transform: scale(1.05);
}

.content-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 20px;
  margin-top: 70px;
  margin-left: 235px;
}
.content-container #create-task-button {
  margin-left: 20px;
}

.task {
  padding: 20px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 20px;
  box-shadow: 0 0 20px #272727;
}

.sub-task {
  padding: 15px;
  border: 1px solid black;
  border-radius: 20px;
  margin: 10px;
  box-shadow: 0 0 5px #3d3d3d;
}

.high-priority {
  background: #bd2d2d;
}

.mid-priority {
  background: #47a847;
}

.low-priority {
  background: #3e91c5;
}

.completed-priority {
  background: #7e7e7e;
}

.task-button {
  color: black;
  font-size: 12px;
  background: #d4d4d4;
  padding: 4px 7px;
  border: 1px solid black;
  border-radius: 5px;
}

.task-button:hover {
  cursor: pointer;
  color: lightslategrey;
}

.status-button {
  background: none;
  font-size: 0;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  border-radius: 50%;
  box-shadow: 1px 1px #272727;
}
.status-button.complete {
  background: rgba(0, 0, 0, 0.4);
}

.task-data {
  display: flex;
  flex-flow: column nowrap;
  justify-content: inline;
  padding: 0 10px 10px 10px;
}
.task-data .top-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.task-data .top-row .main-info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}
.task-data .top-row .main-info h3 {
  font-size: 30px;
  padding: 0px 0 0px 10px;
}
.task-data .top-row .main-info .discarded-h3 {
  padding-left: 0;
}
.task-data .top-row .main-info h2 {
  font-size: 25px;
  padding: 0px 0 0px 10px;
}
.task-data .top-row .time-frames {
  font-size: 18px;
}
.task-data .description {
  font-size: 20px;
  padding: 15px 0;
}
.task-data .bottom-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.task-data .bottom-row .secondary-buttons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: 150px;
}

.hide-completed-button {
  margin-left: 10px;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal {
  color: white;
  z-index: 500;
  position: fixed;
  background-color: #313131;
  width: 480px;
  top: 10%;
  bottom: auto;
  left: 50%;
  margin-left: -240px;
  border-radius: 10px;
  overflow-y: auto;
}
.modal .top-row {
  position: fixed;
  width: 480px;
  background-color: #444;
  border-bottom: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.modal .top-row h3 {
  font-size: 24px;
  padding: 13px 20px 10px 20px;
  height: 0;
}
.modal .top-row button {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-top-right-radius: 10px;
  height: 51px;
  width: 51px;
  border: none;
  padding: 10px;
  font-size: 20px;
}
.modal .top-row button:hover {
  cursor: pointer;
  background: #bd2d2d;
}
.modal .top-row button:hover span {
  transform: scale(1.05);
  translate: transform 0.2s;
}
.modal form {
  padding: 20px;
  padding-bottom: 0;
  padding-top: 70px;
  overflow-y: auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.modal form label {
  display: block;
  width: 150px;
  margin: 0 auto;
  font-size: 18px;
  padding-bottom: 25px;
}
.modal form input, .modal form textarea {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  background: #e0e0e0;
  border-radius: 5px;
  margin-bottom: 2px;
}
.modal form textarea {
  resize: none;
}
.modal form .text-input {
  width: 100%;
  padding: 0;
  border: none;
}
.modal form .radio-container {
  width: 100%;
  margin-top: 10px;
  display: flex;
}
.modal form .radio-container input {
  margin-right: 30px;
}
.modal form .radio-container p {
  width: 50px;
  text-align: left;
  padding: 0;
}
.modal form .api-error {
  text-align: center;
}
.modal form button {
  width: 100px;
  margin: 0 auto;
}
.modal form .form-error {
  color: #ff3333;
  background-color: #444;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 5px #272727;
  font-size: 15px;
}
.modal form .form-button {
  display: block;
  width: 100px;
  margin: 0 auto;
  color: black;
  font-size: 12px;
  background: #d4d4d4;
  padding: 4px 7px;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 20px;
}
.modal form .form-button:hover {
  cursor: pointer;
  color: lightslategrey;
}
.modal form .form-button:disabled {
  color: #999999;
}
.modal form .form-button:disabled:hover {
  cursor: inherit;
}

.front-content-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding: 20% auto 0;
}
.front-content-container .front-modal {
  color: white;
  background-color: #313131;
  position: relative;
  width: 480px;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0 0 5px #1f1f1f;
}
.front-content-container .front-modal .top-row {
  background-color: #444;
  border-bottom: 2px solid black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.front-content-container .front-modal .top-row h3 {
  font-size: 30px;
  padding: 10px 20px;
}
.front-content-container .front-modal .top-row button {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  border-top-right-radius: 10px;
  height: 51px;
  width: 51px;
  border: none;
  padding: 10px;
  font-size: 20px;
}
.front-content-container .front-modal .top-row button:hover {
  cursor: pointer;
  background: #bd2d2d;
}
.front-content-container .front-modal .top-row button:hover span {
  transform: scale(1.05);
  translate: transform 0.2s;
}
.front-content-container .front-modal form {
  padding: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-evenly;
}
.front-content-container .front-modal form label {
  margin: 0 auto;
  width: 150px;
  font-size: 18px;
  padding-bottom: 25px;
}
.front-content-container .front-modal form input, .front-content-container .front-modal form textarea {
  font-family: Arial, Helvetica, sans-serif;
  display: block;
  width: 150px;
  background: #e0e0e0;
  border-radius: 5px;
  border: none;
  padding: 0;
  margin-bottom: 2px;
}
.front-content-container .front-modal form .api-error {
  color: #ff3333;
  text-align: center;
  padding: 4px;
  border-radius: 4px;
  margin-bottom: 10px;
}
.front-content-container .front-modal form button {
  width: 100px;
  margin: 0 auto;
}
.front-content-container .front-modal form .form-error-e {
  color: #ff3333;
  background: #444;
  font-size: 15px;
  width: 150px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 5px #272727;
  margin-right: 10px;
}
.front-content-container .front-modal form .form-error-p {
  color: #ff3333;
  background: #444;
  font-size: 15px;
  width: 150px;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 0 5px #272727;
  margin-right: 10px;
}
.front-content-container .front-modal form .form-button {
  color: black;
  font-size: 12px;
  background: #d4d4d4;
  padding: 4px 7px;
  border: 1px solid black;
  border-radius: 5px;
}
.front-content-container .front-modal form .form-button:hover {
  cursor: pointer;
  color: lightslategrey;
}
.front-content-container .front-modal form .form-button:disabled {
  color: #999999;
}
.front-content-container .front-modal form .form-button:disabled:hover {
  cursor: inherit;
}

@media (max-width: 950px) {
  .tabs {
    position: fixed;
    top: -2px;
    left: 20%;
    width: 60%;
    background: #444;
    margin: 0 auto;
    z-index: 30;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .tabs .links-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 9px;
  }
  .tabs .tabs-link {
    position: relative;
    z-index: 300;
    width: 100px;
    color: white;
    background: #444444;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 18px;
    padding: 10px;
    margin: 10px;
  }
  .tabs .link-container-inner {
    text-align: center;
    font-size: 18px;
    translate: transform 0.2s;
  }
  .tabs .tabs-link:hover {
    color: inherit;
  }
  .tabs .current {
    transform: scale(1.05);
  }

  .content-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 20px;
    margin: 66px 0 0 0;
  }
  .content-container #create-task-button {
    display: block;
    width: 150px;
    margin: 0 auto;
  }
}
@media (max-width: 670px) {
  .tabs {
    position: fixed;
    top: -2px;
    left: 0;
    width: 100%;
    background: #444;
    margin-top: 40px;
    z-index: 30;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
  }
  .tabs .links-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    position: relative;
    margin-top: 0;
  }
  .tabs .tabs-link {
    position: relative;
    z-index: 300;
    width: 100px;
    color: white;
    background: #444444;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 18px;
    padding: 5px 10px;
    margin: 10px;
  }
  .tabs .link-container-inner {
    text-align: center;
    font-size: 14px;
    translate: transform 0.2s;
  }
  .tabs .tabs-link:hover {
    color: inherit;
  }
  .tabs .current {
    transform: scale(1.05);
  }

  .content-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    padding: 20px;
    margin: 75px 0 0 0;
  }
  .content-container #create-task-button {
    display: block;
    width: 150px;
    margin: 0 auto;
  }
}
@media (max-width: 950px) {
  .top-nav {
    background: #444444;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid black;
  }
  .top-nav h1 {
    font-size: 30px;
  }
  .top-nav button {
    color: white;
    font-size: 18px;
    background: none;
    border: none;
    margin-right: 30px;
  }
  .top-nav button:hover {
    cursor: pointer;
    color: inherit;
  }
  .top-nav .links-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    width: 300px;
  }
}
@media (max-width: 670px) {
  .top-nav {
    background: #444444;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
    padding-bottom: 0;
    border: none;
  }
  .top-nav.hidden {
    padding-bottom: 10px;
  }
  .top-nav.hidden .wrapper {
    padding-bottom: 0;
  }
  .top-nav .wrapper {
    width: 100%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .top-nav h1 {
    font-size: 30px;
  }
  .top-nav .first-in-drop {
    border-top: 1px solid black;
  }
  .top-nav button {
    position: relative;
    width: 100vw;
    color: white;
    font-size: 18px;
    background: #2e2e2e;
    padding: 10px;
    border-bottom: 1px solid black;
    margin: 0;
  }
  .top-nav button:hover {
    cursor: pointer;
    color: lightslategrey;
  }
  .top-nav .log-out-button {
    position: fixed;
    right: 20px;
    top: 13px;
    width: auto;
    background: #444;
    padding: 0;
    border: none;
  }
  .top-nav .links-container {
    display: flex;
    flex-flow: column nowrap;
    justify-content: inline;
    align-items: center;
    width: auto;
  }
  .top-nav .icon {
    float: right;
    display: block;
    text-decoration: none;
    color: white;
    font-size: 25px;
  }
  .top-nav .hidden {
    display: none;
  }
}
@media (max-width: 950px) {
  .modal {
    width: 360px;
    margin-left: -180px;
  }
  .modal .top-row {
    width: 360px;
  }
  .modal .top-row button:hover {
    background: #444;
  }
}
@media (max-width: 660px) {
  .modal {
    width: 240px;
    margin-left: -120px;
  }
  .modal .top-row {
    width: 240px;
  }
  .modal .top-row h3 {
    padding-top: 15px;
    font-size: 20px;
  }
}
@media (max-height: 600px) {
  .modal {
    bottom: 10%;
  }
}
@media (max-width: 950px) {
  .front-content-container .front-modal {
    width: 360px;
  }
}
@media (max-width: 660px) {
  .front-content-container .front-modal {
    width: 240px;
  }
}
@media (max-width: 670px) {
  .task {
    padding: 7px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 6px;
    box-shadow: 0 0 20px #272727;
  }

  .sub-task {
    padding: 6px;
    border: 1px solid black;
    border-radius: 10px;
    margin: 6px;
    box-shadow: 0 0 5px #3d3d3d;
  }

  .high-priority {
    background: #bd2d2d;
  }

  .mid-priority {
    background: #47a847;
  }

  .low-priority {
    background: #3e91c5;
  }

  .completed-priority {
    background: #7e7e7e;
  }

  .task-button {
    color: black;
    font-size: 10px;
    background: #d4d4d4;
    padding: 4px 7px;
    border: 1px solid black;
    border-radius: 5px;
  }

  .task-button:hover {
    cursor: pointer;
    color: lightslategrey;
  }

  .status-button {
    background: none;
    font-size: 0;
    width: 15px;
    height: 15px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 1px 1px #272727;
  }
  .status-button.complete {
    background: rgba(0, 0, 0, 0.4);
  }

  .task-data {
    display: flex;
    flex-flow: column nowrap;
    justify-content: inline;
    padding: 0 4px 4px 4px;
  }
  .task-data .top-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .task-data .top-row .main-info {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .task-data .top-row .main-info h3 {
    font-size: 18px;
    padding: 0px 0 0px 4px;
  }
  .task-data .top-row .main-info .discarded-h3 {
    padding-left: 0;
  }
  .task-data .top-row .main-info h2 {
    font-size: 14px;
    padding: 0px 0 0px 4px;
  }
  .task-data .top-row .time-frames {
    font-size: 10px;
  }
  .task-data .description {
    font-size: 10px;
    padding: 15px 0;
  }
  .task-data .bottom-row {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
  }
  .task-data .bottom-row .secondary-buttons {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 120px;
  }

  .hide-completed-button {
    margin-left: 10px;
  }
}

/*# sourceMappingURL=App.css.map */
